//container size
$container-m: 1200xp;
$container-s: 1170px;


//size
$textarea-w: 720px;
$textarea-h: 288px;
$input-w: 352px;
$input-h: 60px;
  
//font size
$man-font: 14px;

//color
//font color
$color1: #5863F8;
$color2: #CECECE;

//wrapper color
$textarea-input: #F8F8F8;

